# Mortalidade Infantil pelo SINASC + SIM

## Comparação entre a taxa de mortalidade publicada e a taxa de mortalidade nos "matches" DN-DO

[Cálculo da taxa](http://tabnet.datasus.gov.br/cgi/idb1997/mort/fqc02.htm) = **número de óbitos em menores de um ano (no ano calculado) / número de nascidos vivos (no ano calculado)**

[Taxa publicada no Espírito Santo](https://saude.es.gov.br/Media/sesa/Relatorio%20de%20gestao/Balanco_de_Gestao_Ricardo_de_Oliveira.pdf)
* 2017 = 10,62
* 2016 = 11,66
* 2015 = 11,34
* 2014 = 11,3
* 2013 =  10,89
* 2012 = 11,31

## Importando bibliotecas
### Usaremos o pandas para fazer a importação do banco de dados (dataframe)

In [0]:
import pandas as pd

# Ano de 2016

## Baixar banco de dados

In [0]:
df_sinasc_es_2016 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSkaN1Ye-7puUZMT3J_yuJisowxrmsU3BAsvyfI3ZxD_mKPJ_4fjfnUS9_JH83fAocKWjyRquGMJxde/pub?output=csv')
df_sim_es_2016 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR_MH3HjwGWD0icAnZ3LVxxKUIxYNgAE3R-m-P61g0T2iXE9bs3hjeItGKTJqIUslIOAFN7TrE2ghGM/pub?output=csv')

## Análise exploratória

Quantos indivíduos temos no SINASC em 2016?

In [15]:
len(df_sinasc_es_2016.index)

53413

Quantos indivíduos temos no SIM em 2016? (Mortalidade geral em 2016)

In [16]:
len(df_sim_es_2016.index)

22868

Taxa de mortalidade geral <1 ano

In [17]:
len(df_sim_es_2016[df_sim_es_2016['IDADE']<=1]['IDADE'])

7

In [18]:
(len(df_sim_es_2016[df_sim_es_2016['IDADE']<=1]['IDADE']))/(len(df_sinasc_es_2016))

0.00013105423773238724

## Descrevendo a IDADE
Idade: composto de dois subcampos. O primeiro, de 1 dígito, indica a unidade da idade, conforme a tabela a seguir. O segundo, de dois dígitos, indica a quantidade de unidades: 

0 – Idade menor de 1 hora, o subcampo varia de 01 e 59; 

1 – Hora, o subcampo varia de 01 a 23; 

2 – Dias, o subcampo varia de 01 a 29; 

3 – Meses, o subcampo varia de 01 a 11;

4 – Anos, o subcampo varia de 00 a 99;

5 – Anos (mais de 100 anos), o segundo subcampo varia de 0 a 99.

In [19]:
df_sim_es_2016['IDADE'].describe()

count    22868.000000
mean       458.500000
std         51.074014
min          1.000000
25%        451.000000
50%        468.000000
75%        481.000000
max        999.000000
Name: IDADE, dtype: float64

## Merge dataframes

### COLUNAS COMUNS entre SIM e SINASC

In [20]:
columns_intersection_es_2016 = df_sinasc_es_2016.columns.intersection(df_sim_es_2016.columns)
columns_intersection_es_2016

Index(['Unnamed: 0', 'NUMERODN', 'CODINST', 'ORIGEM', 'NUMERODV', 'CODESTAB',
       'IDADEMAE', 'ESCMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES',
       'GESTACAO', 'GRAVIDEZ', 'PARTO', 'DTNASC', 'SEXO', 'RACACOR', 'PESO',
       'DTCADASTRO', 'NUMEROLOTE', 'VERSAOSIST', 'DTRECEBIM', 'DIFDATA',
       'DTRECORIGA', 'CODMUNNATU', 'ESCMAE2010', 'SERIESCMAE', 'SEMAGESTAC',
       'ESCMAEAGR1'],
      dtype='object')

### MIGRAÇÃO dos dados SIM para o SINASC = "left"

In [21]:
df_merged_left_2016 = pd.merge(df_sinasc_es_2016, df_sim_es_2016, how='left', on = 'NUMERODN')
df_merged_left_2016.describe()

,Unnamed: 0_x,NUMERODN,ORIGEM_x,NUMERODV_x,PREFIXODN,CODESTAB_x,CODMUNNASC,LOCNASC,IDADEMAE_x,ESTCIVMAE,...,DTCADINV,TPOBITOCOR,DTCONINV,TPRESGINFO,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
count,53413.000000,5.341300e+04,53413.0,53413.000000,53413.0,5.325600e+04,53413.000000,53413.000000,53413.000000,53161.000000,...,0.0,0.0,0.0,0.0,0.0,2.770000e+02,277.000000,0.0,0.0,245.000000
mean,26707.000000,7.017404e+07,1.0,4.089585,30.0,3.362035e+06,320300.966488,1.012151,26.757119,2.212073,...,NaN,NaN,NaN,NaN,NaN,1.644685e+07,3.685921,NaN,NaN,1.685714
std,15419.149301,1.613396e+06,0.0,3.030791,0.0,2.153294e+06,1971.363430,0.149334,6.644023,1.491102,...,NaN,NaN,NaN,NaN,NaN,8.189960e+06,1.927748,NaN,NaN,0.465181
min,1.000000,5.498281e+07,1.0,0.000000,30.0,1.250000e+02,130060.000000,1.000000,12.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,1.022017e+06,1.000000,NaN,NaN,1.000000
25%,13354.000000,6.882397e+07,1.0,1.000000,30.0,2.448637e+06,320150.000000,1.000000,21.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,1.010202e+07,3.000000,NaN,NaN,1.000000
50%,26707.000000,7.108250e+07,1.0,4.000000,30.0,2.547090e+06,320460.000000,1.000000,27.000000,2.000000,...,NaN,NaN,NaN,NaN,NaN,1.606202e+07,3.000000,NaN,NaN,2.000000
75%,40060.000000,7.109900e+07,1.0,7.000000,30.0,4.044916e+06,320520.000000,1.000000,32.000000,2.000000,...,NaN,NaN,NaN,NaN,NaN,2.309202e+07,3.000000,NaN,NaN,2.000000
max,53413.000000,7.509214e+07,1.0,9.000000,30.0,9.040838e+06,530010.000000,4.000000,52.000000,9.000000,...,NaN,NaN,NaN,NaN,NaN,3.110202e+07,9.000000,NaN,NaN,2.000000

Quantos indivíduos tem a Integração (Total de nascidos vivos no ano)

In [22]:
len(df_merged_left_2016.index)

53413

### INTERSSECÇÃO entre SIM e SINASC = ''inner''

In [23]:
df_merged_inner_2016 = pd.merge(df_sinasc_es_2016, df_sim_es_2016, how='inner', on = 'NUMERODN')
df_merged_inner_2016.describe()

,Unnamed: 0_x,NUMERODN,ORIGEM_x,NUMERODV_x,PREFIXODN,CODESTAB_x,CODMUNNASC,LOCNASC,IDADEMAE_x,ESTCIVMAE,...,DTCADINV,TPOBITOCOR,DTCONINV,TPRESGINFO,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
count,295.000000,2.950000e+02,295.0,295.000000,295.0,2.890000e+02,295.000000,295.000000,295.000000,294.000000,...,0.0,0.0,0.0,0.0,0.0,2.770000e+02,277.000000,0.0,0.0,245.000000
mean,24083.498305,7.005411e+07,1.0,4.318644,30.0,4.440627e+06,320295.522034,1.047458,26.444068,2.078231,...,NaN,NaN,NaN,NaN,NaN,1.644685e+07,3.685921,NaN,NaN,1.685714
std,15143.046712,1.614310e+06,0.0,3.001160,0.0,2.384356e+06,1858.521197,0.336729,7.381450,1.413249,...,NaN,NaN,NaN,NaN,NaN,8.189960e+06,1.927748,NaN,NaN,0.465181
min,194.000000,6.739182e+07,1.0,0.000000,30.0,1.174600e+04,291072.000000,1.000000,13.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,1.022017e+06,1.000000,NaN,NaN,1.000000
25%,11147.000000,6.880882e+07,1.0,2.000000,30.0,2.547821e+06,320240.000000,1.000000,20.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,1.010202e+07,3.000000,NaN,NaN,1.000000
50%,24308.000000,7.107495e+07,1.0,5.000000,30.0,3.537943e+06,320500.000000,1.000000,26.000000,2.000000,...,NaN,NaN,NaN,NaN,NaN,1.606202e+07,3.000000,NaN,NaN,2.000000
75%,35571.000000,7.109859e+07,1.0,7.000000,30.0,7.257406e+06,320520.000000,1.000000,32.000000,2.000000,...,NaN,NaN,NaN,NaN,NaN,2.309202e+07,3.000000,NaN,NaN,2.000000
max,52868.000000,7.313207e+07,1.0,9.000000,30.0,7.581467e+06,330220.000000,4.000000,46.000000,5.000000,...,NaN,NaN,NaN,NaN,NaN,3.110202e+07,9.000000,NaN,NaN,2.000000

Quantos indivíduos tem a Interssecção? (Óbitos)

In [24]:
len(df_merged_inner_2016.index)

295

### INTEGRAÇÃO e descrição de todo o banco de dados = ''outer'' (Nascidos vivos juntos a Mortalidade geral)

In [25]:
df_merged_outer_2016 = pd.merge(df_sinasc_es_2016, df_sim_es_2016, how='outer', on = 'NUMERODN', indicator=True)
df_merged_outer_2016.describe()

,Unnamed: 0_x,NUMERODN,ORIGEM_x,NUMERODV_x,PREFIXODN,CODESTAB_x,CODMUNNASC,LOCNASC,IDADEMAE_x,ESTCIVMAE,...,DTCADINV,TPOBITOCOR,DTCONINV,TPRESGINFO,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA
count,53413.000000,5.345000e+04,53413.0,53413.000000,53413.0,5.325600e+04,53413.000000,53413.000000,53413.000000,53161.000000,...,1.176000e+03,1176.000000,1.160000e+03,35.000000,0.0,6.420000e+02,642.000000,0.0,0.0,574.000000
mean,26707.000000,7.017279e+07,1.0,4.089585,30.0,3.362035e+06,320300.966488,1.012151,26.757119,2.212073,...,1.628081e+07,8.774660,1.596665e+07,1.457143,NaN,1.648294e+07,3.666667,NaN,NaN,1.797909
std,15419.149301,1.614335e+06,0.0,3.030791,0.0,2.153294e+06,1971.363430,0.149334,6.644023,1.491102,...,8.412031e+06,0.804924,8.779305e+06,0.700540,NaN,8.260433e+06,1.900270,NaN,NaN,0.401910
min,1.000000,5.498281e+07,1.0,0.000000,30.0,1.250000e+02,130060.000000,1.000000,12.000000,1.000000,...,1.022017e+06,1.000000,1.022017e+06,1.000000,NaN,1.022017e+06,1.000000,NaN,NaN,1.000000
25%,13354.000000,6.882395e+07,1.0,1.000000,30.0,2.448637e+06,320150.000000,1.000000,21.000000,1.000000,...,9.787017e+06,9.000000,8.092016e+06,1.000000,NaN,1.008702e+07,3.000000,NaN,NaN,2.000000
50%,26707.000000,7.108248e+07,1.0,4.000000,30.0,2.547090e+06,320460.000000,1.000000,27.000000,2.000000,...,1.606202e+07,9.000000,1.601202e+07,1.000000,NaN,1.703202e+07,3.000000,NaN,NaN,2.000000
75%,40060.000000,7.109899e+07,1.0,7.000000,30.0,4.044916e+06,320520.000000,1.000000,32.000000,2.000000,...,2.234452e+07,9.000000,2.305202e+07,2.000000,NaN,2.303202e+07,3.000000,NaN,NaN,2.000000
max,53413.000000,7.509214e+07,1.0,9.000000,30.0,9.040838e+06,530010.000000,4.000000,52.000000,9.000000,...,3.110202e+07,9.000000,3.110202e+07,3.000000,NaN,3.110202e+07,9.000000,NaN,NaN,2.000000

Colunas que encontramos na UNIÃO dos dataframes (_merge é label de classificação no final)

In [26]:
df_merged_outer_2016.head()

,Unnamed: 0_x,NUMERODN,CODINST_x,ORIGEM_x,NUMERODV_x,PREFIXODN,CODESTAB_x,CODMUNNASC,LOCNASC,IDADEMAE_x,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,_merge
0,1.0,69142346.0,MBA2910720001,1.0,8.0,30.0,2507447.0,291072.0,1.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,2.0,69204731.0,MBA2913600002,1.0,1.0,30.0,2802112.0,291360.0,1.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,3.0,69091312.0,MBA2922000001,1.0,7.0,30.0,2506122.0,292200.0,1.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,4.0,69161083.0,MBA2922000001,1.0,7.0,30.0,2506122.0,292200.0,1.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,5.0,69161493.0,MBA2922000001,1.0,0.0,30.0,2498804.0,292200.0,1.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

Reneme _merge = SIMSIM (Óbito e Nascido)

In [27]:
df_merged_outer_2016.rename(index=str, columns={"_merge": "simsim"})

,Unnamed: 0_x,NUMERODN,CODINST_x,ORIGEM_x,NUMERODV_x,PREFIXODN,CODESTAB_x,CODMUNNASC,LOCNASC,IDADEMAE_x,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,simsim
0,1.0,69142346.0,MBA2910720001,1.0,8.0,30.0,2507447.0,291072.0,1.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,2.0,69204731.0,MBA2913600002,1.0,1.0,30.0,2802112.0,291360.0,1.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,3.0,69091312.0,MBA2922000001,1.0,7.0,30.0,2506122.0,292200.0,1.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,4.0,69161083.0,MBA2922000001,1.0,7.0,30.0,2506122.0,292200.0,1.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,5.0,69161493.0,MBA2922000001,1.0,0.0,30.0,2498804.0,292200.0,1.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,6.0,69161246.0,MBA2922000001,1.0,5.0,30.0,2498804.0,292200.0,1.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,7.0,69201289.0,MBA2922000001,1.0,5.0,30.0,2498804.0,292200.0,1.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
7,8.0,69161391.0,MBA2931350001,1.0,7.0,30.0,2301008.0,293135.0,1.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
8,9.0,70601516.0,MMG3101100001,1.0,0.0,30.0,2102587.0,310110.0,1.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,10.0,70601518.0,MMG3101100001,1.0,7.0,30.0,2102587.0,310110.0,1.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10,11.0,70601519.0,MMG3101100001,1.0,5.0,30.0,2102587.0,310110.0,1.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,12.0,70601522.0,MMG3101100001,1.0,5.0,30.0,2102587.0,310110.0,1.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,13.0,70601523.0,MMG3101100001,1.0,3.0,30.0,2102587.0,310110.0,1.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,14.0,70601529.0,MMG3101100001,1.0,2.0,30.0,2102587.0,310110.0,1.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
14,15.0,66396252.0,MMG3101100001,1.0,0.0,30.0,2102587.0,310110.0,1.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
15,16.0,66396255.0,MMG3101100001,1.0,4.0,30.0,2102587.0,310110.0,1.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
16,17.0,66396258.0,MMG3101100001,1.0,9.0,30.0,2102587.0,310110.0,1.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,18.0,66396259.0,MMG3101100001,1.0,7.0,30.0,2102587.0,310110.0,1.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
18,19.0,66396254.0,MMG3101100001,1.0,6.0,30.0,2102587.0,310110.0,1.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
19,20.0,66396253.0,MMG3101100001,1.0,8.0,30.0,2102587.0,310110.0,1.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
20,21.0,66396262.0,MMG3101100001,1.0,7.0,30.0,2102587.0,310110.0,1.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
21,22.0,66396265.0,MMG3101100001,1.0,1.0,30.0,2102587.0,310110.0,1.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
22,23.0,70601526.0,MMG3101100001,1.0,8.0,30.0,2102587.0,310110.0,1.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
23,24.0,66396272.0,MMG3101100001,1.0,4.0,30.0,2102587.0,310110.0,1.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,25.0,66396273.0,MMG3101100001,1.0,2.0,30.0,2102587.0,310110.0,1.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
25,26.0,66396274.0,MMG3101100001,1.0,0.0,30.0,2102587.0,310110.0,1.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
26,27.0,66396275.0,MMG3101100001,1.0,9.0,30.0,2102587.0,310110.0,1.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
27,28.0,66396278.0,MMG3101100001,1.0,3.0,30.0,2102587.0,310110.0,1.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
28,29.0,66396279.0,MMG3101100001,1.0,1.0,30.0,2102587.0,310110.0,1.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
29,30.0,66396283.0,MMG3101100001,1.0,0.0,30.0,2102587.0,310110.0,1.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75956,NaN,68804768.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SXXSXS,NaN,NaN,NaN,26102016.0,3.0,NaN,NaN,2.0,right_only
75957,NaN,67391750.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SXSSXX,NaN,NaN,NaN,29042016.0,3.0,NaN,NaN,2.0,right_only
75958,NaN,68819735.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SXSSXS,NaN,NaN,NaN,27082016.0,3.0,NaN,NaN,2.0,right_only
75959,NaN,68824991.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXSXXX,NaN,NaN,NaN,14042016.0,3.0,NaN,NaN,2.0,right_only
75960,NaN,68828226.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXSXXX,NaN,NaN,NaN,2032016.0,3.0,NaN,NaN,2.0,right_only
75961,NaN,68794738.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SXSXXX,NaN,NaN,NaN,31032016.0,3.0,NaN,NaN,1.0,right_only
75962,NaN,68766126.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXXSXX,NaN,NaN,NaN,23122016.0,3.0,NaN,NaN,2.0,right_only
75963,NaN,68806626.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXXXXX,NaN,NaN,NaN,16032016.0,9.0,NaN,NaN,NaN,right_only
75964,NaN,68808289.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SSSSXX,NaN,NaN,NaN,22062016.0,3.0,NaN,NaN,2.0,right_only
75965,NaN,67544976.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SXSSXX,NaN,NaN,NaN,15062016.0,3.0,NaN,NaN,2.0,right_only
75966,NaN,68818254.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XSSSXX,NaN,NaN,NaN,30052016.0,3.0,NaN,NaN,2.0,right_only
75967,NaN,68820813.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXXXXX,NaN,NaN,NaN,25042016.0,9.0,NaN,NaN,NaN,right_only
75968,NaN,68818777.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SSXSXX,NaN,NaN,NaN,10072016.0,3.0,NaN,NaN,2.0,right_only
75969,NaN,68806329.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXXXXX,NaN,NaN,NaN,6052016.0,9.0,NaN,NaN,NaN,right_only
75970,NaN,68797857.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SSSSXX,NaN,NaN,NaN,18072016.0,3.0,NaN,NaN,2.0,right_only
75971,NaN,68812477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXXSXX,NaN,NaN,NaN,8062016.0,3.0,NaN,NaN,2.0,right_only
75972,NaN,68797260.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXSXXS,NaN,NaN,NaN,24082016.0,3.0,NaN,NaN,2.0,right_only
75973,NaN,68802973.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SSSSXX,NaN,NaN,NaN,21062016.0,3.0,NaN,NaN,2.0,right_only
75974,NaN,68819027.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SXSSXX,NaN,NaN,NaN,24062016.0,3.0,NaN,NaN,1.0,right_only
75975,NaN,68802746.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SXSSXX,NaN,NaN,NaN,8082016.0,3.0,NaN,NaN,2.0,right_only
75976,NaN,68817809.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SXSXXX,NaN,NaN,NaN,30052016.0,3.0,NaN,NaN,1.0,right_only
75977,NaN,68817242.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXSXXX,NaN,NaN,NaN,20122016.0,3.0,NaN,NaN,2.0,right_only
75978,NaN,57387359.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SXSSXX,NaN,NaN,NaN,22082016.0,3.0,NaN,NaN,1.0,right_only
75979,NaN,68798675.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXSSXX,NaN,NaN,NaN,13102016.0,3.0,NaN,NaN,2.0,right_only
75980,NaN,68808154.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXSSXX,NaN,NaN,NaN,19092016.0,3.0,NaN,NaN,2.0,right_only
75981,NaN,71070601.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SXSSXX,NaN,NaN,NaN,18072016.0,3.0,NaN,NaN,1.0,right_only
75982,NaN,68762606.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SXXSXX,NaN,NaN,NaN,5102016.0,3.0,NaN,NaN,2.0,right_only
75983,NaN,67392118.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SXSXXX,NaN,NaN,NaN,5102016.0,3.0,NaN,NaN,2.0,right_only
75984,NaN,68802566.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXXSXX,NaN,NaN,NaN,19102016.0,3.0,NaN,NaN,2.0,right_only
75985,NaN,68799640.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXXSXX,NaN,NaN,NaN,5012017.0,3.0,NaN,NaN,2.0,right_only

### CÁLCULO DA TAXA de mortalidade infantil de 2016

Verificar se inner/left = TX 2016?

In [28]:
(len(df_merged_inner_2016.index))/(len(df_merged_left_2016.index))

0.005523000018722034

# Outros anos

## Ano de 2015

In [29]:

df_sinasc_es_2015 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQIyzKl_u0t_YN_stW1Nr4VHWw0XY5zdXhqi15RitMcNPQpDZdU5apVR5aOQmbVYu284B4wNJUMonXU/pub?gid=1338898032&single=true&output=csv')
df_sim_es_2015 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSQAjV9c7HSRNciS8zQZFtlffe-X0V8Wcc5EAM9wqhVGPHnI3IpAaliYwadmK4nHiKPz9GbXn_-xNNC/pub?gid=817434201&single=true&output=csv')

df_merged_left_2015 = pd.merge(df_sinasc_es_2015, df_sim_es_2015, how='left', on = 'NUMERODN')
df_merged_inner_2015 = pd.merge(df_sinasc_es_2015, df_sim_es_2015, how='inner', on = 'NUMERODN')
df_merged_outer_2015 = pd.merge(df_sinasc_es_2015, df_sim_es_2015, how='outer', on = 'NUMERODN', indicator=True)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
#Mortalidade geral-infantil
(len(df_sim_es_2015[df_sim_es_2015['IDADE']<=1]['IDADE']))/(len(df_sinasc_es_2015))

0.00015805834108990007

In [31]:
# Mortalidade infantil SINASC-SIM
(len(df_merged_inner_2015.index))/(len(df_sinasc_es_2015.index))

0.004899808573786902

## Ano de 2014

In [0]:
# Ano 2014

df_sinasc_es_2014 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTIPBsiEtG3heF7zGO6HRkVae9PAO_yJI8SVtw2YncAb1JByCTIsFid0rruA7c4Pq8TDCbI3j6LQjMc/pub?gid=580169372&single=true&output=csv')
df_sim_es_2014 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRGEAcKThbNaB9Kfp2vdoWZIMjUaVLwDF0Cf9_534xkV2iDWv4SZACgDBG7CnhzjXd_dCvwvadINdL1/pub?gid=1932938775&single=true&output=csv')

df_merged_left_2014 = pd.merge(df_sinasc_es_2014, df_sim_es_2014, how='left', on = 'NUMERODN')
df_merged_inner_2014 = pd.merge(df_sinasc_es_2014, df_sim_es_2014, how='inner', on = 'NUMERODN')
df_merged_outer_2014 = pd.merge(df_sinasc_es_2014, df_sim_es_2014, how='outer', on = 'NUMERODN', indicator=True)

In [33]:
# Mortalidade geral-infantil
(len(df_sim_es_2014[df_sim_es_2014['IDADE']<=1]['IDADE']))/(len(df_sinasc_es_2014))

8.842045695692156e-05

In [34]:
# Mortalidade SINASC-SIM
(len(df_merged_inner_2014.index))/(len(df_sinasc_es_2014.index))

0.005729645610808517

## Ano de 2013

In [0]:
# Ano 2013

df_sinasc_es_2013 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vROjHq3_oX3W_j6GEVjNBoKdnoUJgE5HGIfyrWnB8mgXikfc15O08SvOVXqmuxfyZmp-lMM3ETsPvkZ/pub?gid=535577998&single=true&output=csv')
df_sim_es_2013 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRf-ecv5pdc0k2GR3SBdoCeZtRM6SPjSyQDFVwlUmzd8YsPVWPwZvx3ZnM8y_B5kBcFH-QxYIyTuYzr/pub?gid=1342589125&single=true&output=csv')

df_merged_left_2013 = pd.merge(df_sinasc_es_2013, df_sim_es_2013, how='left', on = 'NUMERODN')
df_merged_inner_2013 = pd.merge(df_sinasc_es_2013, df_sim_es_2013, how='inner', on = 'NUMERODN')
df_merged_outer_2013 = pd.merge(df_sinasc_es_2013, df_sim_es_2013, how='outer', on = 'NUMERODN', indicator=True)

In [36]:
# Mortalidade geral-infantil
(len(df_sim_es_2013[df_sim_es_2013['IDADE']<=1]['IDADE']))/(len(df_sinasc_es_2013))

0.00012947378155923425

In [37]:
# Mortalidade SINASC-SIM
(len(df_merged_inner_2013.index))/(len(df_sinasc_es_2013.index))

0.0041061685008785724

## Ano de 2012

In [0]:
# Ano 2012

df_sinasc_es_2012 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRsmVmV6LY0nRKPr6MeqbNmH70iM20lPQdAmq0wNHJCRTxEGBzdM3cxgF6Ovd_mplD4RJ1EtCXBTAd6/pub?gid=1590264663&single=true&output=csv')
df_sim_es_2012 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vS9XW4Hxc0QwEENpDDXLIBgDkyaTz89AXhgYYDcw7lHhBRjnLyQ2Y7B77fMV2LVmivKhSABYr-2fcFx/pub?gid=508819616&single=true&output=csv')

df_merged_left_2012 = pd.merge(df_sinasc_es_2012, df_sim_es_2012, how='left', on = 'NUMERODN')
df_merged_inner_2012 = pd.merge(df_sinasc_es_2012, df_sim_es_2012, how='inner', on = 'NUMERODN')
df_merged_outer_2012 = pd.merge(df_sinasc_es_2012, df_sim_es_2012, how='outer', on = 'NUMERODN', indicator=True)

In [39]:
# Mortalidade geral-infantil
(len(df_sim_es_2012[df_sim_es_2012['IDADE']<=1]['IDADE']))/(len(df_sinasc_es_2012))

5.6780543200529955e-05

In [40]:
# Mortalidade SINASC-SIM
(len(df_merged_inner_2012.index))/(len(df_sinasc_es_2012.index))

0.003463613135232327